Package: com.yourcompany.smsread
Name: SMSRead
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Piao Piao
Author: Piao Piao
Section: Utilities
Version: 0.0.1-32+debug
Installed-Size: 1512
